/* resources/css/custom.css */
:root {
	--white: #ffffff;
	--black: #000000;
	--d-red: #cb2a1f;
    --d-grey: #e9e7e7;
	--sp-gray-100: #f5f8fa;
    --sp-gray-200: #eff2f5;
    --sp-gray-300: #E4E6EF;
    --sp-gray-400: #B5B5C3;
    --sp-gray-500: #A1A5B7;
    --sp-gray-600: #7E8299;
    --sp-gray-700: #5E6278;
    --sp-gray-800: #3F4254;
    --sp-gray-900: #181C32;
}
body, html {
    font-family: "Open Sans", serif;
}
.text-primary {
    color: var(--d-primary) !important;
}
a {
    text-decoration: none;
    transition: all 0.4s;
}
/** Color Picker Start **/
[type='color'] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    width: 20px !important;
    height: 20px !important;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    flex: 0 0 20px;
	margin-right: 5px;
}

[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

[type='color']::-webkit-color-swatch {
  border: none;
}
.colors .form-check-label {
    white-space: nowrap;
}
/** Color Picker End **/

/** Input Fields Start **/
input[type="checkbox"], input[type="radio"] {
    -webkit-appearance: none !important;
    border: 2px solid #dedede !important;
    width: 30px !important;
    height: 30px !important;
    border-radius: 100% !important;
    align-self: center !important;
    background: #ffffff !important;
    box-shadow: 0 0 0 2px #ffffff inset !important;
    flex: 0 0 30px;
}
input[type="checkbox"]:checked, input[type="radio"]:checked {
	background: var(--d-primary) !important;
	border-color: var(--d-primary) !important;
}
/** Input Fields End **/
.gradient-bg {
    background: linear-gradient(90deg, var(--d-primary), var(--d-secondary));
}
.main-services .icons {
    background: var(--white);
    width: 20%;
    border-radius: 20px;
    padding: 20px;
    font-size: 14px;
    font-family: "Open Sans";
	min-height: 167px;
    min-width: 167px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.main-services .icons svg {
    width: 55%;
    /*height: 75px;*/
	aspect-ratio: 1 / 1;
}
.main-services:hover .icons:first-child {
    transform: none;
	margin-right: 0;
}
.main-services .icons:hover {
    margin: 0px 15px 0px 15px;
    transform: scale(1.13);
}
.main-services .icons:first-child {
    transform: scale(1.13);
    margin-right: 15px;
}
.main-services .icons:first-child:first-child:hover {
    transform: scale(1.13);
    margin: 0px 15px 0px 0px;
}
/** Tob Bar **/
.top-menu a {
    margin: 0;
    background: var(--d-white);
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
	margin: 0 10px;
}
.top-menu a:hover, .top-menu a:focus, .top-menu a.active {
    background: var(--d-primary);
    transform: scale(1.15);
    margin: 0 1rem;
}
.top-menu svg {
    width: 20px;
    height: 20px;
	fill: var(--black)
}
.top-menu a:hover svg, .top-menu a:focus svg, .top-menu a.active svg {
    fill: var(--white);
}
.header .select2-container {
    align-self: stretch;
	width: 237.175px !important;
}
.header .select2-container > span {
    height: 100%;
    display: flex;
}
.header .select2-container .select2-selection {
	height: 100%;
    border: none;
    display: flex;
    font-weight: 700;
    border-radius: 0;
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
    margin: 0 15px;
}
.header .select2-container .select2-selection .select-option-text {
    font-weight: 700;
    color: var(--black);
    font-size: 14px !important;
}
.select2-container--bootstrap-5 .select2-search {
	width: 450px !important;
}
span.select2-container.select2-container--open {
    right: 0px !important;
    left: auto !important;
}
.select2-container--bootstrap-5 .select2-dropdown {
	margin-right: 110px;
	border: 1px solid #cecece !important;
    border-radius: 0;
}
/** SideBar **/
.sidebar {
    background-color: #343b3b;
}
.sidebar .sidebar-header {
    justify-content: center;
}
.sidebar .menu .menu-item .menu-link {
    color: var(--white);
	padding: 0.5rem 20px;
	font-size: 14px;
 }
.sidebar .menu .menu-item .menu-link .menu-icon {
    color: var(--white) !important;
}
.sidebar .menu .menu-item .menu-link:hover, .sidebar .menu .menu-item .menu-link:hover .menu-icon {
    color: var(--d-primary) !important;
}
.sidebar .menu .menu-item .menu-link.text-primary:hover, .sidebar .menu .menu-item .menu-link.text-primary:hover .menu-icon {
	color: var(--white) !important;
}
.sidebar .nav-line {
	background: #1e2626 !important;
    box-shadow: 0 1px 0px #4f5b5b;
}
a.menu-link.text-primary {
    background: var(--d-primary);
    border-radius: 3rem;
    color: var(--white) !important;
}
/** Dashboard **/
.sidebar {
    width: 250px;
}
.main {
    width: calc(100% - 250px);
}
.card {
    border-color: #dedede !important;
    box-shadow: none;
    border-radius: 20px;
}
.d-alert .card h5 {
	font-size:14px;
}
.count {
    font-size: 40px;
    border: 3px solid var(--d-primary);
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 100%;
    line-height: 54px;
    flex: 0 0 60px;
    margin-right: 10px;
}
.count.red {
	border: 3px solid var(--d-red);
	color: var(--d-red) !important;
}
.icon-primary {
    gap: 10px;
    align-items: center;
}
.icon-primary svg {
    width: 24px;
    height: 24px;
    fill: var(--d-primary);
}
.icon-with-circle {
    padding: 6px;
    border: 1px solid var(--sp-gray-400);
    line-height: 1;
    border-radius: 100%;
    text-align: center;
}
.icon-with-circle svg {
    width: 18px;
    height: 18px;
    fill: var(--sp-gray-400);
}
.form-control {
    border-radius: 25px;
    background: var(--white);
}
select.form-control {
    background-image: linear-gradient(45deg, transparent 50%, var(--black) 50%), linear-gradient(135deg, var(--black) 50%, transparent 50%);
    background-position: calc(100% - 17px) 50%, calc(100% - 12px) 50%;
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
    padding-right: 30px;
}
/** Brand Page **/
.channel-list label.card:hover {
    box-shadow: 0 0 0 2px var(--d-primary) inset !important;
}